.personalized h1{
	margin-top: 0;
}
.notify-container {
	display: flex;
    justify-content: center;
    height: calc(100vh - 500px);
    border: 2px dotted;
    margin: 100px;
    text-align: center;
		cursor: pointer;
}
.notify-container span{
	display: flex;
	align-items: center;
}